		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
						<div class="6u">
							<div class="row collapse-at-2">
								<section class="6u">
									<h3>Links to Learning</h3>
									<ul style="list-style-type: none;" class="links">
                                        <li><a href="http://llvm.org/">LLVM Compiler Infrastructure</a></li>
										<li><a href="http://klee.github.io/">KLEE Execution Engine</a></li>
										<li><a href="http://clang.llvm.org/">Clang: frontend for LLVM</a></li>
										<li><a href="https://sv-comp.sosy-lab.org">SV-COMP: Competition on Software Verification</a></li>
										
									</ul>
								</section>
                                <!--
								<section class="6u">
									<h3>More Links to Stuff</h3>
									<ul class="links">
										<li><a href="#">Duis neque nisi dapibus</a></li>
										<li><a href="#">Sed et dapibus quis</a></li>
										<li><a href="#">Rutrum accumsan sed</a></li>
										<li><a href="#">Mattis et sed accumsan</a></li>
										<li><a href="#">Duis neque nisi sed</a></li>
										<li><a href="#">Sed et dapibus quis</a></li>
										<li><a href="#">Rutrum amet varius</a></li>
									</ul>
								</section>
                                -->
							</div>
						</div>
						<section class="6u">
							<h3>Get In Touch</h3>
							<form>
								<div class="row half collapse-at-2">
									<div class="6u">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="6u">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<ul class="actions">
											<li><input type="submit" class="button alt" value="Send Message" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>

				<!-- Icons -->
					<ul class="icons">
						<!--
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        -->
                        <li><a href="https://hub.docker.com/r/herberthb/map2check/" class="icon fa-rocket"><span class="label">Docker</span></a></li>
						<li><a href="https://github.com/hbgit/Map2Check" class="icon fa-github"><span class="label">GitHub</span></a></li>
                        <li><a href="https://travis-ci.org/hbgit/Map2Check" class="icon fa-search"><span class="label">Travis</span></a></li>
						<!--
                        
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                        -->
					</ul>

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>Map2Check: A Bug Hunting Tool.</li>
						</ul>
					</div>

			</div>

	</body>
</html>
